<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title>.: Quirkey.com :: {{ page.title }} :: Code :: Quirkey NYC, LLC :: Aaron Quint :: Web Developer :: Brooklyn, NY :.</title>
  <link rel="stylesheet" href="/stylesheets/quirkey.css" type="text/css" media="screen" charset="utf-8" />
  {% if page.github_name == 'home' %}
  <link rel="stylesheet" href="/stylesheets/home.css" type="text/css" media="screen" charset="utf-8" />
  {% else %}
  <link rel="stylesheet" href="/stylesheets/pages.css" type="text/css" media="screen" charset="utf-8" />
  {% endif %}
  <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8" />
  <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/quirkey.js" type="text/javascript" charset="utf-8"></script>
  {% if page.github_name == 'home' %}
  <script src="/javascripts/github.js" type="text/javascript" charset="utf-8"></script>
  {% endif %}
</head>

<body>
  <a href="http://github.com/quirkey/{{ page.github_name}}"><img style="position: absolute; top: 0; right: 0; border: 0; z-index:50;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub" /></a>
  <div id="container">
    <div id="header_holder">
      <div id="header">
        <div id="logo" class="quirkey_nav_open"><img src="/images/logo.png" width="224" height="215" alt="Logo"/></div>
        <h1>Quirkey<a href="/" class="q_code">Code</a></h1>
        <div id="quirkey_nav" style="display: none;">
          <h1 class="quirkey_portfolio">Quirkey<a href="http://portfolio.quirkey.com/" class="q_portfolio">Portfolio</a><span class="description">Selected work.</span></h1>
          <h1 class="quirkey_log">Quirkey<a href="http://log.quirkey.com/" class="q_log">Log</a><span class="description">Up-to-the-minute updates from the interweb.</span></h1>
          <h1 class="quirkey_blog">Quirkey<a href="http://www.quirkey.com/blog/" class="q_blog">Blog</a><span class="description">Articles, Tutorials, etc.</span></h1>
          <h1 class="quirkey_com">Quirkey<a href="http://www.quirkey.com" class="q_com">.com</a><span class="description">The Lobby; General Information.</span></h1>
        </div>
      </div>
      <div class="quirkey_nav_close" style="display:none;"><a href="#">^</a></div>
    </div>
    <div id="main">
        {% if page.current_version %}
        <div id="latest_version"><a href="#installing">{{ page.current_version }}</a></div>
        {% endif %}
        {% if page.nav %}
        <ul id="pagenav">
          {% for nav in page.nav %}
          <li><a href="{{ nav['link'] }}">{{ nav['name'] }}</a></li>
          {% endfor %}
          <li><a href="#installing">Installing</a></li>
          <li><a href="#requests">Bugs/Feature<br />Requests</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        {% endif %}
      <div id="content">
        {{ content }}
        {% if page.github_name != 'home' %}
        <h3 id="installing">Installing</h3>
        <div class="highlight"><pre>sudo gem install {{ page.github_name }}
        </pre></div>
        <p>Or directly from github:</p>
        <div class="highlight"><pre>sudo gem install quirkey-{{ page.github_name }} -s http://gems.github.com
        </pre></div>
        <p>Github in thier infinite awesomeness also lets you download the source in multiple formats.</p>
        <div class="download">
          <a href="http://github.com/quirkey/{{ page.github_name }}/zipball/master">
            <img border="0" width="90" src="http://github.com/images/modules/download/zip.png" />
          </a>
          <a href="http://github.com/quirkey/{{ page.github_name }}/tarball/master">
            <img border="0" width="90" src="http://github.com/images/modules/download/tar.png" />
          </a>
        </div>
        <h3 id="requests">Bugs/Feature Requests</h3>
        <p>The full and most up to date source is at github:</p>
        <p><a href="http://github.com/quirkey/{{ page.github_name }}/">http://github.com/quirkey/{{ page.github_name }}/</a></p>
        <p>You can clone or fork from there to fix or break the code.</p>
        <p>I&#8217;m happy to take feature requests/bug reports. Just email me (contact below) or message me on github.</p>
        <h3 id="license">License</h3>
        <p>This code is free to use under the terms of the <a href="http://www.opensource.org/licenses/mit-license.php"><span class="caps">MIT</span> license.</a></p>
        <h3 id="contact">Contact</h3>
        <p>Feel free to email me at aaron at quirkey dot com.</p>
        <p>Please check out my <a href="http://quirkey.com/blog">blog.</a></p>
        <p>If you like or use this library &#8211; I don&#8217;t want donations &#8211; but you can <a href="http://www.workingwithrails.com/person/8362-aaron-quint">recommend me on workingwithrails.com</a> or hire me to work on your next project.</p>
        {% endif %}
      </div>
    </div>
    <div id="footer">
      <p class="quirkey_links">Quirkey<span>|</span><a href="http://www.quirkey.com" class="q_com">.com</a><span>|</span><a href="http://portfolio.quirkey.com" class="q_portfolio">Portfolio</a><span>|</span><a href="http://code.quirkey.com" class="q_code">Code</a><span>|</span><a href="http://log.quirkey.com" class="q_log">Log</a><span>|</span><a href="http://www.quirkey.com/blog/" class="q_blog">Blog</a></p>
      <p id="copy">client identity and work property of creators. quirkey logo and identity, &copy; 2005-2009 Quirkey NYC, LLC</p>
    </div>
  </div>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-3763169-2");
    pageTracker._trackPageview();
    } catch(err) {}
    </script>
  </body>
</html>